<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-app>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-controller="lineupsCtrl">
            <ul class="skaters">
                <li>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="skater_name">Name</label>
                            <input type="text" class="form-control" id="skater_name" placeholder="Skater Name" ng-model="newskater.name">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="newskater.jammer"> Jammer
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"ng-model="newskater.pivot"> Pivot
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="addSkater(newskater)">Create</button>
                    </form>
                </li>
                <li ng-repeat="skater in skaters | orderBy:sort">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <span ng-bind="skater.name"></span>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="blocker(skater)">Blocker</button>
                        <button type="submit" class="btn btn-default" ng-click="jammer(skater)" ng-show="skater.jammer">Jammer</button>
                        <button type="submit" class="btn btn-default" ng-click="pivot(skater)" ng-show="skater.pivot">Pivot</button>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="skater.jammer"> Jammer
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"ng-model="skater.pivot"> Pivot
                            </label>
                        </div>
                    </form>
                </li>
            </ul>
        </div>

        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>-->
        <script>window.angular || document.write('<script src="js/vendor/angular-1.2.6/angular.min.js"><\/script>')</script>
        <script src="js/main.js"></script>
    </body>
</html>
