<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Derby Lineups</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body >
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="main" class="container" ng-app ng-controller="lineupsCtrl">
    <div id="manageSkaters" class="row">
        <h2>Manage Skaters</h2>
        <div id="skaters" class="list-group">
            <div class="list-group-item" ng-repeat="skater in availableSkaters">
                <div class="input-group">
                    <input type="text" placeholder="Skater Name" name="name" class="form-control" ng-model="skater.name">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-class="{active:skater.jammer}" ng-click="skater.toggleJammer()">Jammer</button>
                        <button type="button" class="btn btn-default" ng-class="{active:skater.pivot}" ng-click="skater.togglePivot()">Pivot</button>
                        <button type="button" class="btn btn-default" ng-class="{active:skater.tracklead}" ng-click="skater.toggleTracklead()">Track Lead</button>
                        <button type="button" class="btn btn-default" ng-class="{active:skater.blocker}" ng-click="skater.toggleBlocker()">Blocker</button>
                    </span>
                </div>
            </div>
            <div id="newSkater" class="list-group-item">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="addSkater(newskater)">Add</button>
                    </span>
                    <input type="text" placeholder="Skater Name" name="name" class="form-control" ng-model="newskater.name">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-class="{active:newskater.jammer}" ng-click="jammer(newskater)">Jammer</button>
                        <button type="button" class="btn btn-default" ng-class="{active:newskater.pivot}" ng-click="pivot(newskater)">Pivot</button>
                        <button type="button" class="btn btn-default" ng-class="{active:newskater.trackLead}" ng-click="trackLead(newskater)">Track Lead</button>
                        <button type="button" class="btn btn-default" ng-class="{active:newskater.blocker}" ng-click="blocker(newskater)">Blocker</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="boutStatistics" class="row">
        <h2>Bout Statistics</h2>
        <div class="col-md-4" ng-repeat="skater in skaters | orderBy:'name()'">
            <div class="panel panel-default skater-stats">
                <div class="panel-heading">
                    <h4 class="panel-title" ng-bind="skater.name()"></h4>
                </div>
                <div class="panel-body">
                    <div class="skater-positions col-sm-12">
                        <span class="badge badge-jammer" ng-show="skater.jammer()">Jammer</span>
                        <span class="badge badge-pivot" ng-show="skater.pivot()">Pivot</span>
                        <span class="badge badge-tracklead" ng-show="skater.tracklead()">Track Lead</span>
                        <span class="badge badge-blocker" ng-show="skater.blocker()">Blocker</span>
                    </div>
                    <div class="col-sm-4">
                        <div class="skater-stat ">
                            <h6 class="skater-stat-heading">Jams</h6>
                            <span class="skater-stat-number" ng-bind="skater.jams">0</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="skater-stat ">
                            <h6 class="skater-stat-heading">Penalties</h6>
                            <span class="skater-stat-number" ng-bind="skater.penalties">0</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="skater-stat ">
                            <h6 class="skater-stat-heading">Sat</h6>
                            <span class="skater-stat-number" ng-bind="skater.sits">0</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="skater-stat ">
                            <h6 class="skater-stat-heading">Jammer</h6>
                            <span class="skater-stat-number" ng-bind="skater.timesJammer">0</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="skater-stat ">
                            <h6 class="skater-stat-heading">Pivot</h6>
                            <span class="skater-stat-number" ng-bind="skater.timesPivot">0</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="skater-stat ">
                            <h6 class="skater-stat-heading">Blocker</h6>
                            <span class="skater-stat-number" ng-bind="skater.timesBlocker">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="boutLineup" class="row">
        <h2>Bout Lineup</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Jam</th>
                <th>Jammer</th>
                <th>Pivot</th>
                <th>Blocker</th>
                <th>Blocker</th>
                <th>Blocker</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="jam in jams" ng-class="{done:jam.complete}">
                <td ng-dblclick="toggleJam(jam)">
                    <span ng-bind="jam.number" ></span>
                </td>
                <td ng-dblclick='chooseJammer(jam)' ng-click="jam.jammer.togglePenatly()" title="Click to mark as in box. Double click to change skater.">
                    <span ng-bind="jam.jammer.name()"></span>
                    <span ng-repeat="penalty in jam.jammer.penalties" ng-dblclick="penalty.delete()" class="penalty glyphicon " ng-class="{active: penalty.active, 'glyphicon-circle-arrow-right':!penalty.carriedIntoNextJam, 'glyphicon-circle-arrow-down': penalty.carriedIntoNextJam}" title="Double click to delete."></span>
                </td>
                <td ng-dblclick='choosePivot(jam)' ng-click="jam.pivot.togglePenatly()" title="Click to mark as in box. Double click to change skater.">
                    <span ng-bind="jam.pivot.name()"></span>
                    <span ng-repeat="penalty in jam.pivot.penalties" ng-dblclick="penalty.delete()" class="penalty glyphicon " ng-class="{active: penalty.active, 'glyphicon-circle-arrow-right':!penalty.carriedIntoNextJam, 'glyphicon-circle-arrow-down': penalty.carriedIntoNextJam}" title="Double click to delete."></span>
                </td>
                <td ng-dblclick='chooseBlocker1(jam)' ng-click="jam.blocker1.togglePenatly()" title="Click to mark as in box. Double click to change skater.">
                    <span ng-bind="jam.blocker1.name()"></span>
                    <span ng-repeat="penalty in jam.blocker1.penalties" ng-dblclick="penalty.delete()" class="penalty glyphicon " ng-class="{active: penalty.active, 'glyphicon-circle-arrow-right':!penalty.carriedIntoNextJam, 'glyphicon-circle-arrow-down': penalty.carriedIntoNextJam}" title="Double click to delete."></span>
                </td>
                <td ng-dblclick='chooseBlocker2(jam)' ng-click="jam.blocker2.togglePenatly()" title="Click to mark as in box. Double click to change skater.">
                    <span ng-bind="jam.blocker2.name()"></span>
                    <span ng-repeat="penalty in jam.blocker2.penalties" ng-dblclick="penalty.delete()" class="penalty glyphicon " ng-class="{active: penalty.active, 'glyphicon-circle-arrow-right':!penalty.carriedIntoNextJam, 'glyphicon-circle-arrow-down': penalty.carriedIntoNextJam}" title="Double click to delete."></span>
                </td>
                <td ng-dblclick='chooseBlocker3(jam)' ng-click="jam.blocker3.togglePenatly()" title="Click to mark as in box. Double click to change skater.">
                    <span ng-bind="jam.blocker3.name()"></span>
                    <span ng-repeat="penalty in jam.blocker3.penalties" ng-dblclick="penalty.delete()" class="penalty glyphicon " ng-class="{active: penalty.active, 'glyphicon-circle-arrow-right':!penalty.carriedIntoNextJam, 'glyphicon-circle-arrow-down': penalty.carriedIntoNextJam}" title="Double click to delete."></span>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7"><button class="btn btn-primary pull-right" ng-click="addJam()"><span class="glyphicon glyphicon-plus"></span> Add Jam</button></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="chooseSkater" class="row">
        <h2 class="list-group-item-heading">Choose A Skater</h2>
        <div class="list-group">
            <a href="#boutLineup" class="list-group-item" ng-repeat="skater in skatersToChoseFrom | orderBy:'name()'" ng-click="skater.chose()">
                <span class="skater-name" ng-bind="skater.name()"></span>
                <span class="badge badge-blocker" ng-show="skater.blocker()">Blocker</span>
                <span class="badge badge-tracklead" ng-show="skater.trackLead()">Track Lead</span>
                <span class="badge badge-pivot" ng-show="skater.pivot()">Pivot</span>
                <span class="badge badge-jammer" ng-show="skater.jammer()">Jammer</span>
            </a>
        </div>
    </div>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>-->
<script>window.angular || document.write('<script src="js/vendor/angular-1.2.6/angular.min.js"><\/script>')</script>
<script src="js/mockup.js"></script>
</body>
</html>
